
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

@{
    ViewData["Title"] = "線上訂購資訊";
}
<!-- #region css-->
<style>
    .right {
        margin-left: 10px;
    }

    .pointer {
        cursor: pointer
    }
    /*#region 必填欄位*/
    .redstar::before {
        content: "*";
        color: red;
    }
    /*#endregion */
    /*#region 商品圖*/
    .card-img-top {
        width: 40%;
        height: 40%;
    }
    /*#endregion */
    /*#region 換頁動畫*/
    .slide-leave-active {
        transition: all .2s ease;
    }

    .slide-enter-active {
        transition: all .5s ease;
    }

    .slide-enter-from {
        transform: translateX(-100%);
    }

    .slide-leave-to {
        transform: translateX(100%);
    }
    /*#endregion */
    /*#store {
        color: #7fad39;
    }*/
    /*#region 頁首效果*/
    #circleone {
        width: 30px;
        height: 30px;
        border-radius: 999em;
        background-color: #7fad39;
        margin: 0 auto;
    }

    #circletwo {
        width: 30px;
        height: 30px;
        border-radius: 999em;
        background-color: black;
        margin: 0 auto;
    }

    #circlethree {
        width: 30px;
        height: 30px;
        border-radius: 999em;
        background-color: black;
        margin: 0 auto;
    }

    #stepnumber {
        text-align: center;
    }

    #number {
        color: white;
    }
    /*設定地圖大小*/
    #map {
        height: 400px;
        width: 40vw;
    }
    /*#endregion */
    /* Chrome, Safari, Edge, Opera */
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>
<!--載入google map-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6Agwzyd84tG7qsFrzBDNZcsW3IFjCifQ">
</script>
<!-- #endregion -->
<div id="shoppingorders">
    <!--#region 頁首-->
    <div class="container">
        <div class="row" id="stepnumber">
            <div class="col">
                <h4>訂單明細</h4>
                <div id="circleone"><p id="number">1</p></div>
            </div>
            <div class="col ">
                <h4>選擇付款</h4>
                <div id="circletwo"><p id="number">2</p></div>
            </div>
            <div class="col ">
                <h4>確認結帳</h4>
                <div id="circlethree"><p id="number">3</p></div>
            </div>
        </div>
    </div>
    <!-- #endregion -->
    <!--#region 第一頁 訂單明細 -->
    <transition name="slide">
        <div v-if="link=='a'">
            <!--#region 店家 -->
            <div class="card">
                <div class="card-body" v-if="isShow">
                    <div v-for="s in store" id="store" >
                        <h5 class="font-weight-bold fs-4">Teabar {{s.storeCity}}{{s.storeName}}</h5>
                        <p class="fs-6 text-center">{{s.storePhone}}</p>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
            <!--#region 取餐方式 -->
            <div class="card">
                <div class="card-header">
                    <label class="redstar fs-5">取餐方式</label>
                </div>
                <div class="card-body">
                    <div>
                        <div class="right" v-on:click="initMap">
                            <input type="radio" class="form-check-input" name="how" v-if="isTakeout" checked v-on:click="How(0)">
                            <input type="radio" class="form-check-input" name="how" v-if="isDelivery" v-on:click="How(0)">
                            <label class="form-check-label"> 自取</label>
                            <div v-if="isTakeout" class=" pointer">
                                <label for="storelocation" class="col-form-label-sm">請確認取貨門市位置 可點擊刷新</label>
                                <div  class="mb-2">
                                    <span v-if="isShow">
                                        <i class="fas fa-map-marker-alt"></i>
                                        {{store[0].storeAddress}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="map" class="embed-responsive mb-3" v-if="!isDelivery"></div>
                        <div class="right">
                            <input type="radio" class="form-check-input" name="how" v-if="isTakeout" v-on:click="How(1)">
                            <input type="radio" class="form-check-input" name="how" v-if="isDelivery" checked v-on:click="How(1)">
                            <label class="form-check-label"> 外送</label>
                            <div v-if="isDelivery" class="pointer input-group" id="delivery">
                                <div class="col-auto">
                                    <label class="redstar">縣市</label>
                                    <select class="form-select" id="county" v-model="shipData.county" v-on:change="ChangeCounty">
                                        <option v-for="county in countyData">{{county.countyname}}</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <label class="redstar">區域</label>
                                    <select class="form-select" id="district" v-model="shipData.district">
                                        <option v-for="town in districtData">{{town.townname}}</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <label class="redstar">地址</label>
                                    <div class="input-group">

                                        <input type="text" class="form-control" placeholder="地址" id="address" v-model="shipData.address">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <label class="redstar">地址備註</label>
                                    <div class="input-group">

                                        <input type="text" class="form-control" placeholder="公司/地標/樓層" id="addressdesc" v-model="shipData.desc">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <button class="btn btn-primary" v-on:click="How(2)">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- #endregion -->
            <!--#region 警告外送資料輸入不完整 -->
            <div class="alert alert-warning d-flex align-items-center" role="alert" v-if="!isDeliverydetail">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div>
                    外送資料請輸入完整
                </div>
            </div>
            <!-- #endregion -->
            <!--#region 訂單內容 -->
            <div class="card">
                <div class="card-header">
                    <label class="fs-5">訂單內容</label>
                </div>
                <div class="card-body">
                    <div class="row" v-if="isIN">
                        <div class="col">{{orderData[0].customerId}} </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <div class="col m-3" v-for="orderitem in orderData">
                            <div class="card" style="width: 18rem;">
                                <img v-bind:src="orderitem.picture" class="pointer card-img-top mr-auto ml-auto mt-4" v-on:click="ToEdit(orderitem.productId)" data-bs-toggle="modal" data-bs-target="#modifydialog" />

                                <div class="card-body">
                                    <div v-on:click="ToEdit(orderitem.productId)" data-bs-toggle="modal" data-bs-target="#modifydialog">

                                        <div class="pointer">
                                            <div class="bg-color">
                                                <div>{{orderitem.productName}}</div>
                                            </div>
                                            <div class="bg-color">
                                                <div class="bg-color">{{orderitem.size}}/{{orderitem.ice}}/{{orderitem.sweetness}}</div>
                                                <div class="bg-color"><span v-for="item in orderitem.ingredient">{{item}} </span></div>
                                            </div>
                                            <div class="bg-color">
                                                <div>$ {{orderitem.subtotal}}</div>
                                            </div>
                                            <div class="bg-color">
                                                <div>備註: {{orderitem.description}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-on:click="Todelete(orderitem.productId)">
                                        <button type="button" class="btn btn-danger float-right" data-bs-toggle="modal" data-bs-target="#deldialog">刪除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
            <!--#region 訂單滙總 -->
            <div class="card">
                <div v-if="isIN">
                    <div class="card-header">
                        <label class="fs-5">訂單滙總</label>
                    </div>
                    <div class="card-body">
                        <div class="row-1">總額:${{origintotal}}</div>
                        <div class="row-1" v-if="discount!=1">{{discount}}折</div>
                        <div class="row-1" v-if="discount==1">無</div>
                        <div class="row-1">折扣後總額:${{total}}</div>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
        </div>
    </transition>
    <!-- #endregion -->
    <!-- #region 第二頁 付款資料 -->
    <transition name="slide">
        <div v-if="link=='b'">
            <!--#region 取餐人資料-->
            <div class="card">
                <div class="card-body">
                    <div>
                        <label class="redstar">取餐人資料</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label redstar">姓名</label>
                        <input type="text" class="form-control" v-model:value="shipData.receiver">
                    </div>
                    <div class="mb-3">
                        <label class="form-label redstar">電話</label>
                        <input type="tel" class="form-control" v-model:value="shipData.phone">
                    </div>
                </div>
            </div>
            <!-- #endregion -->
            <!--#region 警告取餐人資料輸入不完整 -->
            <div class="alert alert-warning d-flex align-items-center" role="alert" v-if="!isReceiverdetail">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div>
                    取餐人資訊請輸入完整
                </div>
            </div>
            <!-- #endregion -->
            <!--#region 發票 -->
            <div class="card">
                <div class="card-header">
                    <label>開立發票</label>
                </div>
                <div class="card-body">
                    <div class="right">
                        <input type="radio" class="form-check-input" name="receipt" v-on:click="Receipt('paper')" v-if="isPaper" checked>
                        <input type="radio" class="form-check-input" name="receipt" v-on:click="Receipt('paper')" v-if="!isPaper">
                        <label class="form-check-label"> 紙本發票</label>
                    </div>
                    <div class="right">
                        <input type="radio" class="form-check-input" name="receipt" v-on:click="Receipt('cellphone')" v-if="!isCellphone">
                        <input type="radio" class="form-check-input" name="receipt" v-on:click="Receipt('cellphone')" v-if="isCellphone" checked>
                        <label class="form-check-label"> 手機載具</label>
                        <div v-if="isCellphone" class="redstar">
                            <input type="text" class="form-control" placeholder="首位為/ 字母為大寫" v-model:value="shipData.phonereceipt">
                        </div>
                    </div>
                    <div class="right">
                        <input type="radio" class="form-check-input" name="receipt" v-on:click="Receipt('dt')" v-if="!isDonate">
                        <input type="radio" class="form-check-input" name="receipt" v-on:click="Receipt('dt')" v-if="isDonate" checked>
                        <label class="form-check-label"> 愛心捐贈</label>
                    </div>
                    <div>
                        <label class="form-check-label">統一編號</label>
                        <input type="text" class="form-control" placeholder="請輸入統一編號" v-model:value="shipData.companyreceipt">
                    </div>
                    <div class="alert alert-warning d-flex align-items-center" role="alert" v-if="!isCellphonedetail">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                        <div>
                            手機載具請輸入完整
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
        </div>
    </transition>
    <!-- #endregion -->
    <!--#region 第三頁 最後確認 -->
    <transition name="slide">
        <div class="card" v-if="link=='c'">
            <div class="card-header">
                <label>確認訂購明細</label>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td>訂購門市</td>
                            <td>{{store[0].storeCity}}{{store[0].storeName}}</td>
                        </tr>
                        <tr>
                            <td>取餐人</td>
                            <td>{{shipData.receiver}}</td>
                        </tr>
                        <tr>
                            <td>連絡電話</td>
                            <td>{{shipData.phone}}</td>
                        </tr>
                        <tr>
                            <td>取餐方式</td>
                            <td v-if="isTakeout">自取</td>
                            <td v-if="!isTakeout">外送</td>
                        </tr>
                        <tr>
                            <td>開立發票形式</td>
                            <td>{{shipData.receipt}}</td>
                        </tr>
                        <tr>
                            <td>應付金額</td>
                            <td>{{total}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </transition>
    <!-- #endregion -->
    <!--#region 固定頁尾 -->
    <div>
        <button class="btn btn-secondary" v-if="link=='a'" v-on:click="Back">回購物車</button>
        <button class="btn btn-light" v-on:click.prevent="OneContactTwo" v-if="link=='a'">下一步</button>
        <button class="btn btn-secondary" v-on:click.prevent="OneContactTwo" v-if="link=='b'">上一步</button>
        <button class="btn btn-light" v-on:click.prevent="TwoContactThree" v-if="link=='b'">下一步</button>
        <button class="btn btn-secondary" v-on:click.prevent="TwoContactThree" v-if="link=='c'">上一步</button>
        <button class="btn btn-danger" v-if="link=='c'" v-on:click="ToPay">付款確認</button>

    </div>
    <!-- #endregion -->
    <!--#region 編輯訂單資訊對話盒 -->
    <div class="modal fade" id="modifydialog" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered ">
            <div class="modal-content" v-bind="order">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifydialog">{{order.productName}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            v-on:click="LUEdit(false)"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="price">單價$</label>
                        <input type="text" v-model:text="order.unitPrice" class="form-control" disabled />
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="size">杯型</label>
                        <select class="form-select" id="size" v-model="order.size">
                            <option v-for="size in sizelist">{{size}}</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="ice">冰塊</label>
                        <select class="form-select" id="ice" v-model="order.ice">
                            <option v-for="ice in icelist">{{ice}}</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="sweet">甜度</label>
                        <select class="form-select" id="sweet" v-model="order.sweetness">
                            <option v-for="st in sugarlist">{{st}}</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="ingredient">加料(複選)</label>
                        <div class="btn-group " role="group">
                            <span v-for="ing in inglist">
                                <input type="checkbox" class="btn-check d-none" :id="ing" autocomplete="off" v-model="Ingredient" :value="ing">
                                <label class="btn btn-outline-dark btnCategory" :for="ing">{{ing}}</label>
                            </span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">備註</label>
                        <input type="text" v-model:text="order.description" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <div class="pointer input-group mb-3">
                            <i class="far fa-minus-square input-group-text" v-on:click="EditQ(order.productId,false)"></i>
                            <input type="number" v-model:value="order.quantity" class="form-control" id="qty" />
                            <i class="far fa-plus-square input-group-text" v-on:click="EditQ(order.productId,true)"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" v-on:click="LUEdit(true)">更新</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            v-on:click="LUEdit(false)">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->
    <!--#region 刪除資料確認對話盒-->
    <div class="modal fade" id="deldialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-lg-down">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    確認刪除?
                </div>
                <div class="modal-footer" v-bind="order">
                    <button type="button" class="btn btn-danger" v-on:click="deleteItem(order.productId)" data-bs-dismiss="modal">是</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">否</button>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

</div>
<!--#region Javascript和Vue-->
<script>
    var app = new Vue({
        el: '#shoppingorders',
        //#region Vue data
        data: { //TODO vue data
            orderData: [],  //訂單資料內容
            shipData: {},//寄送資料
            store: [],   //店家資料
            Ingredient:[],//複數加料
            temp: [],     //暫存
            order: {}, //單一訂單內容
            countyData: [],//縣市資料
            districtData: [],//區域資料
            mapData: [], //google map marker
            discount: 0,//折扣
            sugarlist: ["全糖", "少糖", "半糖", "微糖", "無糖"],
            icelist: ["正常冰", "少冰", "半冰", "微冰", "去冰", "溫", "熱"],
            inglist: ["珍珠" , "椰果" ,"小芋圓" ,  "寒天" , "雙Q" ,  "蜂蜜"],
            sizelist: ["大杯", "中杯"],
            total: 0,
            origintotal: 0,
            isShow:false,
            isIN: false,
            isDeliverydetail: true,//外送資訊完整
            isReceiverdetail: true,//取餐人資訊完整
            isTakeout: true,//自取
            isDelivery: false,//外送
            isPaper: true,//紙本發票
            isCellphone: false,//手機載具
            isCellphonedetail: true,//手機載具輸入完整
            isDonate: false,//愛心捐贈
            link: 'a',//分頁判斷
            googleMap: {
                map: "",
                lat: 0, //中心座標
                lng: 0
            },

        },
        //#endregion
        //#region mounted初始讀取購物車和店家
        mounted() {
            //讀店家
            $.ajax({
                url: "@Url.Action("GetStore", "OrderAPI")",
                type: 'GET'
            })
                .done(
                    function (result, status, xhr) {
                        app.store[0] = result;
                        console.log(app.store);
                        app.isShow = true;
                    })
                .fail(function (err) {
                    alert("error");
                });
            //讀購物車
            $.ajax({
                url: "@Url.Action("Readcart", "OrderAPI")",
                type: 'GET'
            })
                .done(function (result) {
                    if (result.length == 0) {
                        alert("失敗");
                    } else {
                        app.orderData = result;
                        app.isIN = true;
                        for (let i = 0; i < app.orderData.length; i++) {
                            app.total = app.total + app.orderData[i].subtotal;
                        }
                        app.origintotal = app.total;
                        app.total = Math.round(app.total * app.orderData[0].discount);
                        app.discount = app.orderData[0].discount;
                        if (app.discount < 1) {
                            app.discount = Math.round( app.discount * 100);
                            if (app.discount % 10 === 0) {
                                app.discount = app.discount / 10;
                            }
                        }
                    }
                })
                .fail(function (err) {
                    alert("error");
                });
            //取得地圖資料
            axios('/api/StoreService/store')
                .then(response => {
                    this.mapData = JSON.parse(response.data);
                    let map = this.mapData.find(m => m.StoreID == this.store[0].storeID);
                    //取得經緯度
                    this.googleMap.lat = map.Lat;
                    this.googleMap.lng = map.Lng;
                    this.initMap();
                })
                .catch(error => console.log(error));
             $.ajax(
                {
                    url: '@Url.Action("memberProfileQry", "MemberService")',
                    type: 'GET'
                }
             ).done(function (data) {
                 let user = JSON.parse(data);
                 app.shipData.phone = user.PhoneNumber;
                 app.shipData.receiver = user.LastName + user.FirstName;
                 app.shipData.receipt = '';
                 app.shipData.companyreceipt = '';
                 app.shipData.phonereceipt = '';
                 app.shipData.county = user.City;
                 app.shipData.district = user.District;
                 app.shipData.address = user.Address;
                 app.shipData.desc ="";
            }).fail();
        },
        //#endregion
        //#region Vue方法
        methods: {
            initMap() {
                this.googleMap.map = new google.maps.Map(document.getElementById('map'),
                    {
                        center: { lat: this.googleMap.lat, lng: this.googleMap.lng},
                        zoom: 16,
                        mapTypeId: 'roadmap'
                    }
                );
                // 放置marker
                let marker = new google.maps.Marker({
                    position: { lat: this.googleMap.lat, lng: this.googleMap.lng},
                    map: this.googleMap.map
                });

            },
            //#region 編輯數量
            EditQ: function ( pid, PorM) {
                let temp = app.orderData.find(c => c.productId == pid);
                let i = app.orderData.indexOf(temp);
                if (PorM === true) {
                    app.orderData[i].quantity++;
                } else {
                    if (app.orderData[i].quantity > 1) {
                        app.orderData[i].quantity--;
                    }
                    Subtotal(i);
                }
            },
            //#endregion
            //#region 進入編輯
            ToEdit: function (pid) {
                app.order = app.orderData.find(c => c.productId == pid);
                app.Ingredient = app.order.ingredient;
                //紀錄可修改資料原本狀態
                app.temp[0] = app.order.ice;
                app.temp[1] = app.order.sweetness;
                app.temp[2] = app.order.description;
                app.temp[3] = app.order.quantity;
                app.temp[4] = app.order.ingredient;
                app.temp[5] = app.order.subtotal;
                app.temp[6] = app.order.size;
            },
            //#endregion
            //#region 離開/更新 編輯
            LUEdit: function ( TF) {
                //還原原本狀態
                if (TF === false) {
                    app.order.icelevel = app.temp[0];
                    app.order.sugarlevel = app.temp[1];
                    app.order.description = app.temp[2];
                    app.order.quantity = app.temp[3];
                    app.order.ingredient = app.temp[4];
                    app.order.subtotal = app.temp[5];
                    app.order.size = app.temp[6];
                } else {
                    if (app.order.quantity<1) {
                        alert("請輸入正確格式");
                        app.order.quantity = app.temp[3];
                        app.order.subtotal = app.temp[5];
                    }
                    //更新加料資料
                    if (this.Ingredient.length === 0) {
                        this.Ingredient[0] = "無";
                    }
                    app.order.ingredient = app.Ingredient;
                    //更新subtotal
                    app.order.subtotal = app.order.unitPrice * app.order.quantity;
                    for (let i = 0; i < app.order.ingredient.length; i++) {
                        if (app.order.ingredient[i] === "珍珠" || app.order.ingredient[i] === "椰果"
                            || app.order.ingredient[i] === "寒天" || app.order.ingredient[i]=== "雙Q") {
                            app.order.subtotal = app.order.subtotal + 10;
                        } else if (app.order.ingredient[i] === "蜂蜜" || app.order.ingredient[i]=== "小芋圓") {
                            app.order.subtotal = app.order.subtotal + 15;
                        }
                    }
                    app.origintotal = app.origintotal - app.temp[5] + app.order.subtotal;
                    app.total = Math.round(app.origintotal * app.order.discount);
                    Save();//存session
                }
            },
            //#endregion
            //#region 進入刪除商品確認
            Todelete: function ( pid) {
                app.order = app.orderData.find(c => c.productId == pid);
            },
            //#endregion
            //#region 刪除商品
            deleteItem: function (pid) {
                let curorder = app.orderData.find(c => c.productId == pid);
                let index = app.orderData.indexOf(curorder);
                if (app.orderData.length == 1) {
                    app.isIN = false;
                }
                app.total = app.total - app.orderData[index].subtotal;
                app.orderData.splice(index, 1);
                 //儲存session
                Save();
                if (app.orderData.length == 0) {
                       alert("無商品");
                    location.href = "@Url.Action("Index", "Home")";
                }
            },
            //#endregion
            //#region 第一頁和第二頁來往
            OneContactTwo: function () {
                if (app.isDelivery === true) {
                    if (app.shipData.address === "" || app.shipData.desc === "") {
                        app.isDeliverydetail = false;
                    } else {
                        let one = document.getElementById('circleone');
                        let two = document.getElementById('circletwo');
                        if (app.link === 'a') {
                            app.link = 'b';
                            one.style.backgroundColor = 'black';
                            two.style.backgroundColor = '#7fad39';

                        } else {
                            app.link = 'a';
                            one.style.backgroundColor = '#7fad39';
                            two.style.backgroundColor = 'black';
                        }
                        Save();
                    }
                }
                else {
                    let one = document.getElementById('circleone');
                    let two = document.getElementById('circletwo');
                    if (app.link === 'a') {
                        app.link = 'b';
                        one.style.backgroundColor = 'black';
                        two.style.backgroundColor = '#7fad39';

                    } else {
                        app.link = 'a';
                        one.style.backgroundColor = '#7fad39';
                        two.style.backgroundColor = 'black';
                    }
                    Save();

                }
            },
            //#endregion
            //#region 第二頁和第三頁往來
            TwoContactThree: function () {
                if (app.isCellphone === true && app.shipData.phonereceipt === '') {
                    app.isCellphonedetail = false;//發票訊息要填寫完整警告
                    if (app.shipData.receiver === ''|| app.shipData.phone === '') {
                        app.isReceiverdetail = false; //取餐人跳出要填寫完整警告
                    } else {
                        app.isReceiverdetail = true;//取餐人警告收回
                    }
                }
                else if (app.shipData.receiver ===''|| app.shipData.phone ==='') {
                    app.isReceiverdetail = false; //取餐人跳出要填寫完整警告
                    app.isCellphonedetail = true;
                }
                else {
                    app.isReceiverdetail = true;//取餐人警告收回
                    app.isCellphonedetail = true;//發票訊息警告收回
                    //顯示第2頁到第3頁
                    let three = document.getElementById('circlethree');
                    let two = document.getElementById('circletwo');
                    if (app.link === 'b') {
                        app.link = 'c';
                        two.style.backgroundColor = 'black';
                        three.style.backgroundColor = '#7fad39';
                    } else {
                        app.link = 'b';
                        two.style.backgroundColor = '#7fad39';
                        three.style.backgroundColor = 'black';
                    }
                    if (app.isPaper === true) {
                        app.shipData.receipt = '紙本發票';
                    }
                    if (app.shipData.phonereceipt != '') {
                        app.shipData.receipt = '手機載具:' + app.shipData.phonereceipt;
                        app.isCellphonedetail = true;
                    }
                    Save();//存到session
                }

            },
           // #endregion
            //#region 發票形式
            //TODO 發票
            Receipt: function (status) {
                if (status === 'cellphone') {
                    app.isCellphone = true;
                    app.isPaper = false;
                    app.isDonate = false;
                } else if (status === 'paper') {
                    app.isCellphone = false;
                    app.isPaper = true;
                    app.isDonate = false;
                    app.shipData.receipt = '紙本發票';
                } else if (status === 'dt') {
                    app.isCellphone = false;
                    app.isPaper = false;
                    app.isDonate= true;
                    app.shipData.receipt = '愛心捐贈';
                }
                if (app.shipData.companyreceipt != '') { app.shipData.receipt = '統一編號' + app.shipData.companyreceipt;}
            },
            //#endregion
            //#region 返回購物車
            Back: function () {
                window.location.href = "@Url.Action("ShoppingCart", "CartOrder")";
            },
            //#endregion
            //#region 取餐方式
            How: function (status) {
                if (status === 0) {
                    //顯示與否
                    app.isTakeout = true;
                    app.isDelivery = false;
                } else if (status === 1) {
                    readCountyorDistrict(0, "");
                    readCountyorDistrict(1, app.shipData.county);
                    //顯示與否
                    app.isTakeout = false;
                    app.isDelivery = true;

                } else if (status === 2) {
                    //去掉按鈕
                    $('#delivery').hide();
                }
            },
            //#endregion
            //#region 縣市變動
            ChangeCounty: function () {

                readCountyorDistrict(1, app.shipData.county);
            },
            //#endregion
            //#region 去金流頁面
            ToPay: function () {
                for (let i = 0; i < app.orderData.length; i++) {
                //自取或外送資料
                if (app.isTakeout) {
                    app.orderData[i].note =
                        "自取:" + app.store[0].storeName ;
                } else {
                    app.orderData[i].note =
                        "外送:" + app.shipData.county + app.shipData.district
                    +app.shipData.address+ app.shipData.desc;
                }
                // 寄送資訊記在note

                    app.orderData[i].note = app.orderData[i].note
                        + ",取貨人:" + app.shipData.receiver + ",電話:" + app.shipData.phone +
                        ",發票樣式:" + app.shipData.receipt + app.shipData.phonereceipt + app.shipData.companyreceipt;
                }
                   if (app.orderData.length != 0) {
                    $.ajax({
                        url: "@Url.Action("Savecart", "OrderAPI")",
                        type: 'Post',
                        contentType: 'application/json',
                        data: JSON.stringify(app.orderData)
                    }).done(function () {
                      location.href = "@Url.Action("Paybill","CashFlow")";
                    }).fail(function (err) {
                        console.log(err.responseText);
                    });
                   } else {
                       alert("無商品");
                    location.href = "@Url.Action("Index", "Home")";
                }
            }
           //#endregion
        }
        //#endregion
    });//vue

   //#region 重複利用的方法
    //儲存session
      function Save() {
                if (app.orderData.length != 0) {
                    $.ajax({
                        url: "@Url.Action("Savecart", "OrderAPI")",
                        type: 'Post',
                        contentType: 'application/json',
                        data: JSON.stringify(app.orderData)
                    }).done(function (data, status, xhr) {
                        console.log('更新' + data.msg);
                    })
                        .fail(function (err) {
                            console.log(err.responseText);
                        });
                } else {

                }
    }
    //讀縣市或區域
    function readCountyorDistrict(index,name) {
               //讀縣市
        if (index === 0) {
            $.ajax({
                url: "@Url.Action("readCounty", "CountyDistrict")",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Content-Type", "application/json");
                },
                type: 'GET'
            })
                .done(function (data, status, xhr) {
                    app.countyData = data;
                })
                .fail(function (xhr, status, error) {
                    alert("error");
                });
        } //讀區域
        else {
               $.ajax({
                url: "@Url.Action("readDistrict", "CountyDistrict")",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Content-Type", "application/json");
                },
                   type: 'POST',
                   data: JSON.stringify(name)
            })
                .done(function (data, status, xhr) {
                    app.districtData = data;
                })
                .fail(function (xhr, status, error) {
                    alert("error");
                });
        }
    }
    //小合計
      function Subtotal(i) {
        app.orderData[i].subtotal =
              app.orderData[i].unitPrice * app.orderData[i].quantity;
    }
    //#endregion
</script>
<!-- #endregion -->
