@model OutputDataModel
@using Microsoft.AspNetCore.Html
@using TeaBar.Models.CashFlow
@{
    ViewData["Title"] = "交易結果";

    OutputDataModel data = null;

    if (ViewBag.result != null)
    {
        data = ViewBag.result as OutputDataModel;
        
        <div id="result"  >

            <div class="card">
                <div class="card-header">
                    <label>交易結果</label>
                </div>
                <div class="card-body">
                    <table class="table">

                        <tbody>
                            <tr>
                                <td>交易結果</td>
                                <td>@data.Status</td>
                            </tr>
                            <tr>
                                <td>交易編號</td>
                                <td>@data.TradeNo</td>
                            </tr>
                            <tr>
                                <td>訂單編號</td>
                                <td>@data.MerchantOrderNo</td>
                            </tr>
                            @if (data.PaymentType == "CREDIT" || data.PaymentType == "WEBATM")
                            {
                                <tr>
                                    <td>交易日期</td>
                                    <td>@data.PayTime</td>
                                </tr>
                            }
                            <tr>
                                <td>消費總額</td>
                                <td>{{total}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <button class="btn btn-primary" v-on:click="ToOrderhistory">查看訂單</button>
        </div>
    }
}

<script>

        if (location.href.indexOf('#reloaded') == -1)
        {
                    $.ajax({
                    url: "@Url.Action("Saveorder","OrderAPI")",
                    type: "GET"
                }).done(function (msg) {

                }).fail(function (err) {
                    alert(err.responseText);
            });
            location.href = location.href + "#reloaded";
            location.reload();
        }

    var app = new Vue({
        el: '#result',
        data: {
            ordersData: [],
            total: 0,
            isShow:false
        },
        mounted() {

            $.ajax({
                url:"@Url.Action("Readcart", "OrderAPI")",
                type:"GET",
                contentType: "application/json"
            }).done(
                function (data) {

                    app.ordersData = data;
                    for (let i = 0; i < app.ordersData.length; i++) {
                        app.total = app.total + app.ordersData[i].subtotal;
                    }
                    app.total = Math.round(app.total * app.ordersData[0].discount);
                   app.isShow = true;
                }).fail(
                    function (err) {
                    console.log(err.responseText);
                    });
            $.ajax({
                url:"@Url.Action("DeleteCart", "OrderAPI")",
                type:"GET",
                contentType: "application/json"
            }).done(
                function (Message) {
                    console.log(Message.Msg);

                }).fail(
                    function (err) {
                    console.log(err.responseText);
                    });

        },
        methods: {

            ToOrderhistory: function () {
                       location.href = "@Url.Action("OrdersHistory", "Members")";
            }
        }
    });
</script>





